@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* global CSS */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 120px; /* set a fixed width to avoid stretching */
}



.App {
  display: flex;
}

.app-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color:white;
  color: black;
  position: relative;
  border-bottom: 1.7px solid lightgray;
}

.app-title h1{
  margin: 0;
  font-size: 15rem;
  font-weight: normal;
  text-align: center;
  display: flex;
}

.app-header-description{
  position: absolute;
  bottom: -15px;
  color: grey;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

/* Sidebar CSS */

.app-sidebar {
  width: 25%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  color: black;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #390b42;
  color: white;
}

.sidebar {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-content {
  margin-left: 200px;
  transition: all 0.3s ease-in-out;
}

.with-sidebar {
  margin-left: 200px;
}

.full-width {
  margin-left: 0;
}


header {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}
.sidebar-toggle-button {
  padding: 5px 10px;
  margin: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.sidebar-toggle-button:hover {
  background-color: #ddd;
}


/* Main css*/

.app-main {
  width: 70%;
  height: 100vh;
}
.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

.plus-button{
  border: none;
  background-color: transparent;
  font-size: 30px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  color: black;
  z-index: 1;
}

.plus-button:hover::before{
  content: "";
  position: absolute;
  top: -25px;
  left: -20px;
  right: -25px;
  bottom: -25px;
  background-color: #390b42;
  z-index: -1;
}
.plus-button:hover{
  color: white;
}

.delete-button{
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  color: black;
  z-index: 1;
}

.delete-button:hover::before{
  content: "";
  position: absolute;
  top: -25px;
  left: -20px;
  right: -25px;
  bottom: -25px;
  background-color: #390b42;
  z-index: -1;

}

.delete-button:hover{
  color: white;
}

.format-buttons {
  display: flex;
  margin-bottom: 8px;
}

.format-buttons button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-right: 4px;
  padding: 4px 8px;
  transition: background-color 0.3s ease;
}

.format-buttons button:hover {
  background-color: #ddd;
}

.format-buttons button:active {
  background-color: #ccc;
}

.save-btn {
  background-color: #390b42;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: #390b42;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

